{% load humanize %}
<div class="wrapper">

    <!-- Page Content -->
    <div id="page-content">

        <div class="container">
            <div class="row">
                <!-- About Us -->
                <div class="col-md-12 col-sm-12">
                    <section id="about-us">
                        <header><h1> About Us</h1></header>
                        <section id="ceo-section" class="center">
                            <header class="center"><div class="cite-title"><h2>Serving you since 2015</h2></div></header>
                            <div class="cite no-bottom-margin">

Monica Wanjohi started MS Properties in 2014 to fulfil her long time passion to empower Kenyans to own land, and develop property and manage their investments without breaking the bank. No one ever has enough money – and even if they do buying, selling and managing property can be murky business, and the process is time consuming. Chasing after tenants to pay rent is not the best use of one’s time. MS takes all these headaches away and is a trusted and tested partner in the property investment industry.

MS offers signature products for one buying or selling land, renting or buying home or office space, and for property owners and developers looking for a reliable and professional management partner. With MS you will stretch your limits and come off a winner.

Since our inception we have helped hundreds of clients own land and property, and find their ideal rental homes and offices, a testimony to our deeply entrenched value system that places integrity above all other virtues. At MS we believe that "The heavens are the Lord's, but the earth he has given to the children of man".

Phone (
                                    <i class="fa fa-phone" style="font-size:15px;color:#F6AECD;">
                                        +254 786 140 826 </i>
                                ) or email (
                                <a href="mailto:info@example.com">info@msproperties.com</a>
                                ) or
                                inbox (<a href="https://www.facebook.com/MS-Properties-304673639656692/" class="facebook" >
                                            <i class="fa fa-facebook" style="font-size:15px;color:#F6AECD;"></i>
                                        </a>)
                                or Tweet (
                                <a href="https://twitter.com/MSPropertiesKe/" class="twitter "  >
                                    <i class="fa fa-twitter" style="font-size:15px;color:#F6AECD;"></i>
                                </a>
                                ) MS today and start on your journey to a great life and future.


                            </div>
                            <hr class="divider">
                            <header class="center">
                                <div class="cite-title"><h2>Our Values</h2></div>
                            </header>
                            <div class="cite no-bottom-margin">
                                MS Properties thrives on the trust and strong relationships established and nurtured with our clients.  We are <u>Honest</u> and <u>Approachable</u>, we <u>Communicate</u>
                                and <u>Add Value</u> to your investment.

We take your hand and guide you from the darkness of uncertainty into the light of real wealth. We dream your dream and stand with you from start to finish. For MS it is not just about land and property - it is about sharing a dream and being with you until you realize it.
                            </div>


                            <hr class="divider">
                            <a href="agent-detail.html" class="image"><img alt="" src="assets/img/agent-01.jpg"></a>
                            <a ><h3>Monicah Wanjohi</h3></a>
                            <figure class="subtitle">Company CEO</figure>
                            <div class="background-image"><img alt="" src="assets/img/about-us-bg.jpg"></div>
                        </section><!-- /#ceo-section -->


                        <div class="divider-image center"><img alt="" src="assets/img/sine-wave.png"></div>


                            <header class="center"><h2 class="no-border">Fun Facts</h2></header>

                            <div class="block-content background-secondary background-technology fullwidth">
                                <div class="block-content-inner">
                                    <div class="merged-boxes clearfix">
                                        <div class="merged-box col-sm-3">
                                            <div class="merged-box-content clearfix">
                                                 <div class="number-wrapper">
                                                <h3><i class="fa fa-home color-home"></i>

                                                    <div class="number" data-from="1" data-to="136">136</div>
                                                    </h3>


                                                <figure>Properties Listed</figure>
                                                         </div>
                                                </div>
                                            </div>

                                        <div class="merged-box col-sm-3">
                                            <div class="merged-box-content clearfix">
                                                 <div class="number-wrapper">
                                                <h3><i class="fa fa-thumbs-up color-thumbs-up"></i>
                                                    <div class="number" data-from="1" data-to="2145">2145</div>
                                                    </h3>
                                                    <figure>Satisfied Clients</figure>
                                                </div>
                                            </div>
                                        </div><!-- /.merged-box -->

                                        <div class="merged-box col-sm-3">

                                            <div class="merged-box-content clearfix">
                                                <div class="number-wrapper">
                                                    <h3><i class="fa fa-check-circle-o color-check-circle-o"></i>
                                                        <div class="number" data-from="1" data-to="468">468</div></h3>
                                                    <figure>Properties Sold</figure>
                                                </div>
                                            </div>
                                        </div><!-- /.merged-box -->

                                        <div class="merged-box col-sm-3">

                                            <div class="merged-box-content clearfix">
                                                <div class="number-wrapper">
                                                    <h3><i class="fa fa-spinner color-spinner"></i>
                                                        <div class="number" data-from="1" data-to="5475">5475</div></h3>
                                            <figure>Day we are here</figure>
                                                </div>
                                            </div>
                                        </div><!-- /.merged-box -->

                                    </div><!-- /.merged-boxes -->
                                </div><!-- /.block-content-inner -->
                            </div><!-- /.block-content -->
                                    </section>
                            </div>


                        <section id="testimonials" class="block">
                            <header class="center"><h2 class="no-border">What other said about us</h2></header>
                            <div class="owl-carousel testimonials-carousel">
                                <blockquote class="testimonial">
                                    <figure>
                                        <div class="image">
                                            <img alt="" src="assets/img/client-01.jpg">
                                        </div>
                                    </figure>
                                    <aside class="cite">
                                        <p>MS properties is a dependable land selling company. The management walks you through the process, starting from site visits,
                                            detailing of the site and advising up to acquisition of the title deed. After selling the land to you, she still goes ahead
                                            to advice on development and she even donated some land for construction of a borehole. Assisted us buyers to form an association
                                            by linking us up. They are a great company</p>
                                        <footer>Simiyu Samson</footer>
                                    </aside>
                                </blockquote>
                                <blockquote class="testimonial">
                                    <figure>
                                        <div class="image">
                                            <img alt="" src="assets/img/client-01.jpg">
                                        </div>
                                    </figure>
                                    <aside class="cite">
                                        <p>MS properties is a dependable land selling company. The management walks you through the process, starting from site visits,
                                            detailing of the site and advising up to acquisition of the title deed. After selling the land to you, she still goes ahead
                                            to advice on development and she even donated some land for construction of a borehole. Assisted us buyers to form an association
                                            by linking us up. They are a great company</p>
                                        <footer>Simiyu Samson</footer>
                                    </aside>
                                </blockquote>
                            </div><!-- /.testimonials-carousel -->
                        </section><!-- /#testimonials -->
                    </section><!-- /#about-us -->
                </div><!-- /.col-md-12 -->
                <!-- end About Us -->
                <!-- Sidebar goes here -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>

<!-- /.block-content -->
    <!-- end Page Content -->


<script type="text/javascript" src="assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>
<!--[if gt IE 8]>
<script type="text/javascript" src="assets/js/ie.js"></script>
<![endif]-->